[submodule "lib/impress.js"]
	path = lib/impress.js
	url = https://github.com/bartaz/impress.js.git
[submodule "lib/highlight.js"]
	path = lib/highlight.js
	url = https://github.com/isagalaev/highlight.js.git
